<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="grey-bg">
    <div class="main-box">        
        <h1 style="margin-bottom: 5px;">파일 업로드</h1>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="excelFile" accept=".xlsx, .xls, .csv">
            <button type="submit">업로드</button>
   
        </form>
    
        <hr>
        <h1 style="margin-bottom: 5px;">데이터 찾기</h1>
        <form action="/search" method="post">
            <label for="id">ID 값:</label>
            <input type="text" id="id" name="id">
            <button type="submit">찾기</button>
        </form>
        
        <hr>
        <h1 style="margin-bottom: 2px;">데이터 삭제하기</h1>
        <h4 style="margin: 2px;">(all 입력하면 전체삭제)</h4>
        <form action="/delete" method="post">
            <label for="id">ID 값:</label>
            <input type="text" id="id" name="id">
            <button type="submit">지우깅</button>
        </form>
        <% if(data && data.length > 0) { %>
            <h2>데이터 찾기:</h2>
            <% data.forEach(item => { %>
                <p>con_id: <%= item.con_id %></p>
                <p>prefab_position_x: <%= item.prefab_position_x %></p>
                <p>prefab_position_y: <%= item.prefab_position_y %></p>
                <p>prefab_position_z: <%= item.prefab_position_z%></p>
                <p>sp_position_x: <%= item.sp_position_x %></p>
                <p>sp_position_y: <%= item.sp_position_y %></p>
                <p>sp_position_z: <%= item.sp_position_z%></p>
                <p>rebar_position_x: <%= item.rebar_position_x %></p>
                <p>rebar_position_y: <%= item.rebar_position_y %></p>
                <p>rebar_position_z: <%= item.rebar_position_z%></p>

            <% }); %>
        <% } else { %>
            <p>데이터가 존재하지 않습니다.</p>
        <% } %>
    </div>
</body>
</html>